[submodule "contrib/abseil-cpp"]
	path = contrib/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "contrib/gflags"]
	path = contrib/gflags
	url = git@github.com:gflags/gflags.git
[submodule "contrib/grpc"]
	path = contrib/grpc
	url = git@github.com:grpc/grpc.git
    branch = v1.16.x
[submodule "contrib/protobuf"]
    path = contrib/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
    branch = 3.6.x
