[submodule "src/contrib/protobuf"]
	path = src/contrib/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "src/contrib/abseil-cpp"]
	path = src/contrib/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "src/contrib/gflags"]
	path = src/contrib/gflags
	url = git@github.com:gflags/gflags.git
[submodule "src/contrib/grpc"]
	path = src/contrib/grpc
	url = git@github.com:grpc/grpc.git
[submodule "src/contrib/tbb"]
	path = src/contrib/tbb
	url = git@github.com:01org/tbb.git
